aiohttp
aria2p==0.9.1
hachoir
ffmpeg
extract
Pillow
pyrogram==1.4.4
tgcrypto
youtube_dl
python-dotenv
beautifulsoup4>=4.8.2,<4.8.10
bs4
lxml
requests
messages
js2py
telegraph
numpy
Flask
gunicorn
zip
7zip
extract
unzip
